---
// Astro is a special object that contains all the information about the current page
// frontmatter is a special property that contains the frontmatter of the markdown file
// for example, if you have a markdown file with the following frontmatter:
// ---
// title: Hello World

import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const pageTitle = frontmatter.title;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="min-h-screen px-4 bg-white dark:bg-slate-800 dark:text-white pt-2">
    <div class="flex flex-row w-11/12 gap-1 mx-auto mt-10 overflow-hidden text-xs md:text-base">
        <a href="/" class="hover:text-gray-700">Home</a>
        <span class="mr-1">/</span>
        <a href="/events" class="hover:text-gray-700">Event</a>
        <span class="mr-1">/</span>
        <a class="h-full truncate hover:text-gray-700 text-primary">{frontmatter.title}</a>
    </div>
    <div
        class="flex flex-col w-11/12 gap-2 mx-auto mt-5 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 min-h-fit lg:flex-row">
        <img class="w-full bg-contain lg:w-1/2"
            src="https://s3-alpha.figma.com/hub/file/930641581/bdae5e30-5e25-481e-8c40-8000eec56cba-cover.png"
            alt="#">
        <div class="flex flex-col w-full px-4 py-5 lg:w-1/2">
            <div class="mt-5">
                <h1 class="text-3xl font-bold">{frontmatter.title}</h1>
                <h1>{frontmatter.pubDate}</h2>
            </div>
        </div>
    </div>
    <div class="flex flex-col w-11/12 gap-5 py-10 mx-auto lg:flex-row">
        <div class="w-full p-4 text-white rounded-md shadow-md top-2 lg:sticky h-fit lg:w-3/12 bg-primary">
            <div class="text-lg font-bold">Table of Contents</div>
            <div transition:animate="none" id="toc" class="text-sm list-none"></div>
        </div>
        <div class="w-fit">
            <body class="text-lg">
              <!-- Comment this for a while -->
              <h2>Pendahuluan</h2>
              <slot/>
            </body>
        </div>
    </div>
</div>
</BaseLayout>

<script>
    // Create TOC
// decalre variables
var toc = document.querySelector('#toc');
var headlines = Array.from(document.querySelectorAll('h2,h3'));

// loop through headlines and add id to each
headlines.forEach((item, index) => {
    var id = item.textContent.toLowerCase().split(" ").join("-")
    console.log(id);
    console.log(item.tagName);
    item.setAttribute("id", item.textContent);
    toc.innerHTML += `<li><a class="hover:text-gray-400" href="#${item.textContent}">${index+1}. ${item.textContent}</a></li>`;
    console.log(item.textContent);
})
</script>
